@import url("https://cdn.syncfusion.com/ej2/material.css");
.Bapp__page{
    min-width: 100%;
    max-width: 100%;
}
.Bapp__dashboard{
    background: #00A1C9;
    height: 60px;
    margin-top: 0;
}
.Bapp__dashboard h4{
    margin-left:30px;
    color: white;
}
.Bapp__dashboard p{
    font-size: 24px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}

.Bapp__sidebar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px;
}
.Bapp__container{
    display: flex;
    flex-direction: row;
}
.Bapp__wrapper{
    margin-top: 30px;
    width: 100%;
}
.Bapp__header{
    width: 100%;
    text-align: center;
}
.Bapp_form{
    width: 90%;
}
.Bapp__appdate__edt, .Bapp__apptime__edt {
    margin-top: 30px;
    margin-right: 25px;
    max-width: 50%;
    font-size: 28px;
    margin-bottom: 40px;
}
#datepicker{
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding-left: 10px;
}
.Bapp__appdate input{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.Bapp__label label{
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
}
.Bapp__appdate__edt{
    width: 92%;
    margin-left: 25px;
}

.Bapp_form input[type=submit] {
    background-color: rgba(4, 101, 212, 0.603);
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    max-width: max-content;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.payment__div input[type=submit] {
    background-color: rgba(4, 101, 212, 0.603);
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 40px;
    padding: 10px;
    max-width: max-content;
    margin-top: 10px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Bapp__personalinfo{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.payment__div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.payment__radiogroup{
    margin-left: 25px;
    margin-top: 10px;
}
.payment__div__header{
    margin-left: 25px;
    
}
.Bapp__paymentinfo{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.Bapp__personalinf__edt{
    width: 45%;
    margin-left: 25px;
}
.Bapp__paymentinf__edt{
    width: 45%;
    margin-left: 25px;
}
.Bapp__personalinf__edt2{
    width: 29%;
    margin-left: 25px;
}
.Bapp__paymentinf__edt2{
    width: 29%;
    margin-left: 25px;
}
.Bapp__terms{
    margin-top: 20px;
    margin-left: 25px;
}
.checkbox-form{
    margin-left: 3opx;
}
.appoint-checkbox{
    margin-left: 30px;
}




/* comments */
.comments {
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .comments-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .comments-container {
    margin-top: 40px;
  }
  
  .comment-form-title {
    font-size: 22px;
  }
  .comment-form{
      justify-content: center;
      align-items: baseline;
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  .comment-form-textarea {
    width: 80%;
    height: 80px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
  }
  
  .comment-form-button {
    font-size: 16px;
    padding: 8px 16px;
    width: fit-content;
    background: rgb(59, 130, 246);
    border-radius: 8px;
    color: white;
  }
  
  .comment-form-button:hover:enabled {
    cursor: pointer;
    background: rgb(37, 99, 235);
  }
  
  .comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  
  .comment-form-cancel-button {
    margin-left: 10px;
  }
  
  .comment {
    display: flex;
    margin-bottom: 28px;
  }
  
  .comment-image-container {
    margin-left: 120px;
    margin-right: 2px;
  }
  
  .comment-image-container img {
    border-radius: 50px;
  }
  
  .comment-right-part {
    width: 100%;
  }
  
  .comment-content {
    display: flex;
    flex-direction: column;
  }
  .author-date{
    display: flex;
    flex-direction: row;
  }
  .comment-author {
    margin-right: 8px;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(59, 130, 246);
  }
  .body__comment{
    text-align: start;
    margin-left: 10px;
  }
  
  .comment-text {
    font-size: 18px;
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;
  }

  .comment_bucket{
    margin-top: 30px;
  }

