/* ------------------------------------HOME PAGE START--------------------------------------------- */

/* Hero Section */

.banner{
  text-align: center;
  overflow: hidden;
  height: 90vh;
  width: 100%;
}

.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after { 
    top: -16px; /*Not sure why I needed this fix*/
    width: 100%;
    height: 90vh;
    left: 0px;
    z-index: 0; 
}

.slideshow li span { 
		position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 35s linear infinite 0s; 
}



.slideshow li:nth-child(1) span { 
    background-image: url("../../../public/images/hero6.jpg");
}
.slideshow li:nth-child(2) span { 
    background-image: url("../../../public/images/hero2.jpg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("../../../public/images/hero3.jpg");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("../../../public/images/hero4.jpg");
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("../../../public/images/hero8.jpg");
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
  background-image: url("../../../public/images/hero1.jpg");
  animation-delay: 30s; 
}
.slideshow li:nth-child(7) span { 
  background-image: url("../../../public/images/hero5.jpg");
  animation-delay: 36s; 
}
.slideshow li:nth-child(8) span { 
  background-image: url("../../../public/images/homepage.jpg");
  animation-delay: 36s; 
}



@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}


@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}


.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

#hero {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: url("../../../src/assets/images/homepage.jpg") center center; */
    background-size: cover;
    position: relative;
  }
  
  #hero .container {
    padding-top: 80px;
    background: transparent;
    border: none;
    border-radius: 0;
    justify-content: center;
    align-items: center;
  }
#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .main-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
   .main-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }


  /*----about -section Start*/
  .about-section {
    margin-top: 2rem;
    margin-bottom: 0rem;
    background: transparent;
  }
  .new-container{
      background: transparent;
      border:none;
      box-shadow: none;
      height: 80vh;
  }
  .about-heading {
    text-transform: uppercase;
  }
  
  .about-heading .about-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .about-img{
      border-radius: 20px;
      /* content: url("../../../public/images/aboutimage.jpg"); */
  }
  
  .about-heading .about-heading-lower {
    display: block;
    font-size: 38px;
    font-weight: 100;
  }
  
  .bg-faded {
    background-color: rgba(17, 219, 207,0.8);
  }

  .about-button .btn-color{
    background: #03a59a;
    font-weight: bold;
    color: #fff;
  }
  .about {
    position: relative;
  }
  
  @media (min-width: 992px) {
   .about-img {
      width: 100%;
      float: right;
    }
    .about .about-text {
      margin-left: 8%;
      z-index: 9;
      width: 60%;
      margin-top: 1rem;
      position: absolute;
    }
    .about .about-text .about-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .about .about-text {
      margin-top: 5%;
      width: 40%;
    }
  }  




  *::before,
  *::after { box-sizing: border-box; }
  
  
  
  .about-card {
    margin-right: 12%;
    position: relative;
    width: 700px;
    height: 450px;
    overflow: hidden;
    align-items: flex-end;
    justify-content: right;
    float: right;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /*Light blue cover above the slide show*/
  .card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;
  
    display: block;
    width: 100%;
    height: 100%;
  
    background-color: rgba(140, 22, 115, 0.2);
  }
  
  .card_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    align-items: center;
    width: 700px;
    height: 450px;
    
    transform: translateX( 500px );
    background-image: url("../../../public/images/about7.jpg");
    background-size: 700px 450px;
    
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }
  
  
  .card_part.card_part-two {
    z-index: 6;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/images/about1.jpg");
    animation-delay: 7s;
  }
  
  .card_part.card_part-three {
    z-index: 5;
    background-image: url("../../../public/images/about2.jpg");
    animation-delay: 14s;
  }
  
  .card_part.card_part-four {
    z-index: 4;
    background-image: url("../../../public/images/about3.jpg");
    animation-delay: 21s;
  }
  .card_part.card_part-five {
    z-index: 4;
    background-image: url("../../../public/images/about4.jpg");
    animation-delay: 21s;
  }
  .card_part.card_part-six {
    z-index: 4;
    background-image: url("../../../public/images/about5.jpg");
    animation-delay: 21s;
  }
  
  
  @keyframes opaqTransition {
    3% { transform: translateX( 0 ); }
    25% { transform: translateX( 0 ); }
    28% { transform: translateX( -700px ); }
    100% { transform: translateX( -700px ); }
  }



  /* about section end  */


/* Review Section Start */
.review{
    background:url("../../assets/images/homepage.jpg");
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-blend-mode: multiply;
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  
  .review .heading{
    color: royalblue;
  }
  
  .review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    border: none;
    box-shadow: none;
  }
  
  .review .box-container .box{
    background:beige;
    width:20rem;
    height: 15rem;
    margin:2rem 0rem;
    padding:0.5rem;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .box{
    flex-wrap: wrap;
  }
  .review .box-container .box img{
    position: absolute;
    bottom: -5.5rem; left: -1rem;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 0px;
  }
  
  
  .review .box-container .box p{
    font-size: 1.4rem;
    color:var(--black);
    flex-wrap: wrap;
  }
  
  .review .box-container .box h3{
    text-align: end;
    color:rgba(17, 20, 219, 0.8);
  }
  
  .review .box-container .box span{
    text-align: end;
    color:var(--black);
    display: block;
    font-size: 1.2rem;
  }
  
  .review .box-container .box::before{
    content: '';
    position: absolute;
    bottom: -1rem; left:.4rem;
    height:2rem;
    width:2rem;
    background:#fff;
    transform: rotate(45deg);
  }
/* Review Section end */

/* Contact Section Start */
.contact-box {
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:#11dbcf;
    border-radius: 10px;
  }
  .section-title{
    background: cornsilk;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .contact-box i {
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: #11dbcf;
    border: none;
    padding: 10px;
  }

 .contact button:hover{
   background: #00d9ff;
   color: #fff;
 } 
 .form-submit{
   border-radius: 10px;
 }
/* Contact Section End */

/* Footer Section Start */

.contact-box {
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:#11dbcf;
    border-radius: 10px;
  }
  .section-title{
    background: cornsilk;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .contact-box i {
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: #11dbcf;
    border: none;
    padding: 10px;
  }

 .contact button:hover{
   background: #00d9ff;
   color: #fff;
 } 
 .form-submit{
   border-radius: 10px;
 }

/* Footer Section End */


/* ------------------------------------------HOME PAGE END.............................................. */

/* -----------------------------------------APPOINTMENT PAGE STARTS----------------------------------------- */
@import url("https://cdn.syncfusion.com/ej2/material.css");
.Bapp__page{
    min-width: 100%;
    max-width: 100%;
}
.Bapp__dashboard{
    background: #00A1C9;
    height: 60px;
    margin-top: 0;
}
.Bapp__dashboard h4{
    margin-left:30px;
    color: white;
}
.Bapp__dashboard p{
    font-size: 24px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}

.Bapp__sidebar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px;
}
.Bapp__container{
    display: flex;
    flex-direction: row;
}
.Bapp__wrapper{
    margin-top: 30px;
    width: 100%;
}
.Bapp__header{
    width: 100%;
    text-align: center;
}
.Bapp_form{
    width: 90%;
}
.Bapp__appdate__edt, .Bapp__apptime__edt {
    margin-top: 30px;
    margin-right: 25px;
    max-width: 50%;
    font-size: 28px;
    margin-bottom: 40px;
}
#datepicker{
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding-left: 10px;
}
.Bapp__appdate input{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.Bapp__label label{
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
}
.Bapp__appdate__edt{
    width: 92%;
    margin-left: 25px;
}

.Bapp_form input[type=submit] {
    background-color: rgba(4, 101, 212, 0.603);
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    max-width: max-content;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.payment__div input[type=submit] {
    background-color: rgba(4, 101, 212, 0.603);
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 40px;
    padding: 10px;
    max-width: max-content;
    margin-top: 10px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Bapp__personalinfo{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.payment__div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.payment__radiogroup{
    margin-left: 25px;
    margin-top: 10px;
}
.payment__div__header{
    margin-left: 25px;
    
}
.Bapp__paymentinfo{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.Bapp__personalinf__edt{
    width: 45%;
    margin-left: 25px;
}
.Bapp__paymentinf__edt{
    width: 45%;
    margin-left: 25px;
}
.Bapp__personalinf__edt2{
    width: 29%;
    margin-left: 25px;
}
.Bapp__paymentinf__edt2{
    width: 29%;
    margin-left: 25px;
}
.Bapp__terms{
    margin-top: 20px;
    margin-left: 25px;
}
.checkbox-form{
    margin-left: 3opx;
}
.appoint-checkbox{
    margin-left: 30px;
}



/* -----------------------------------------APPOINTMENT PAGE ENDS------------------------------------------- */

/* -----------------------------------------COMMENTS START------------------------------------------------ */

.comments {
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .comments-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .comments-container {
    margin-top: 40px;
  }
  
  .comment-form-title {
    font-size: 22px;
  }
  .comment-form{
      justify-content: center;
      align-items: baseline;
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  .comment-form-textarea {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
  }
  
  .comment-form-button {
    font-size: 16px;
    padding: 8px 16px;
    width: fit-content;
    background: rgb(59, 130, 246);
    border-radius: 8px;
    color: white;
  }
  
  .comment-form-button:hover:enabled {
    cursor: pointer;
    background: rgb(37, 99, 235);
  }
  
  .comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  
  .comment-form-cancel-button {
    margin-left: 10px;
  }
  
  .comment {
    display: flex;
    margin-bottom: 28px;
  }
  
  .comment-image-container {
    margin-left: 120px;
    margin-right: 2px;
  }
  
  .comment-image-container img {
    border-radius: 50px;
  }
  
  .comment-right-part {
    width: 100%;
  }
  
  .comment-content {
    display: flex;
    flex-direction: column;
  }
  .author-date{
    display: flex;
    flex-direction: row;
  }
  .comment-author {
    margin-right: 8px;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(59, 130, 246);
  }
  .body__comment{
    text-align: start;
    margin-left: 10px;
  }
  
  .comment-text {
    font-size: 18px;
  }
  
  .comment-actions {
    margin-left: 10px;
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
  }
  .mainblog-comment-actions{
    display: flex;
    font-size: 16px;
    color: rgb(59, 130, 246);;
    cursor: pointer;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
  }
  .main-comment-action{
    margin-right: 50px;
    margin-left: 20px;
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;
  }

  .comment_bucket{
    margin-top: 30px;
  }
/* -----------------------------------------COMMENTS START------------------------------------------------ */



/* -----------------------------------------DOCTORBARS -------------------------------------------------- */
.docbarsidebar{
  margin-top: 20px;
  margin-left: 10px;
}





