/* .home{
    width: 100%;
} */
#hero {
    padding-top: 30px;
    width: 100%;
    height: 90vh;
    background: url("../../../src/assets/images/homepage.jpg") center center;
    background-size: cover;
    position: relative;
  }
  
  #hero .container {
    padding-top: 80px;
    background: transparent;
    border: none;
    border-radius: 0;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .main-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
   .main-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }

  /*----about -section*/
  .about-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: transparent;
  }
  .container{
      background: transparent;
      border:none;
      box-shadow: none;
  }
  .about-heading {
    text-transform: uppercase;
  }
  
  .about-heading .about-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .about-img{
      border-radius: 20px;
  }
  
  .about-heading .about-heading-lower {
    display: block;
    font-size: 38px;
    font-weight: 100;
  }
  
  .bg-faded {
    background-color: rgba(17, 219, 207,0.8);
  }

  .about-button .btn-color{
    background: #03a59a;
    font-weight: bold;
    color: #fff;
  }
  .about {
    position: relative;
  }
  
  @media (min-width: 992px) {
    .about .about-img {
      width: 75%;
      float: right;
    }
    .about .about-text {
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
    }
    .about .about-text .about-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .about .about-text {
      width: 45%;
    }
  }




.contact-box {
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:#11dbcf;
    border-radius: 10px;
  }
  .section-title{
    background: cornsilk;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .contact-box i {
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: #11dbcf;
    border: none;
    padding: 10px;
  }

 .contact button:hover{
   background: #00d9ff;
   color: #fff;
 } 
 .form-submit{
   border-radius: 10px;
 }


.review{
  background:url("../../assets/images/homepage.jpg");
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-blend-mode: multiply;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.review .heading{
  color: royalblue;
}

.review .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  border: none;
  box-shadow: none;
}

.review .box-container .box{
  background:beige;
  width:20rem;
  height: 15rem;
  margin:2rem 0rem;
  padding:0.5rem;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box{
  flex-wrap: wrap;
}
.review .box-container .box img{
  position: absolute;
  bottom: -5.5rem; left: -1rem;
  height:4rem;
  width:4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0px;
}


.review .box-container .box p{
  font-size: 1.4rem;
  color:var(--black);
  flex-wrap: wrap;
}

.review .box-container .box h3{
  text-align: end;
  color:rgba(17, 219, 207,0.8);
}

.review .box-container .box span{
  text-align: end;
  color:var(--black);
  display: block;
  font-size: 1.2rem;
}

.review .box-container .box::before{
  content: '';
  position: absolute;
  bottom: -1rem; left:.4rem;
  height:2rem;
  width:2rem;
  background:#fff;
  transform: rotate(45deg);
}

 
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 0.9rem;
  background:rgba(17, 219, 207,0.8);
}
.footer .btn-back{
  background: #fff;
  color: #00d9ff;
}
.footer .text{
  color: #000;
}


.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
  