.patienthome__page, .patienthome__containerd{
    display: flex;
    flex-direction: column;
}
.patient__dashboard{
    background: #00A1C9;
    height: 60px;
    margin-top: 0;
}
.patient__dashboard h4{
    margin-left:30px;
    color: white;
}
.patient__dashboard p{
    font-size: 24px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}

.patient__sidebar{
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px;
}

.dashboard{
    display: flexbox;
    margin-top: 30px;
    margin-left: 20px;
    align-items: flex-start;
    background-color: white;
    width: 250px;
    padding: 25px;
    margin-bottom: 30px;
}

.dashboardname{
    margin: 25px;
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.icons{
    margin-right: 10px;
    color: grey;
   
}
.home{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background: #283593;
    height: 60px;
}

.home > h2{
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.home > p{
    margin-left: 20px;
    color: white;
    font-size: 25px;
}
.doctor__dashboard{
    background: #00A1C9;
    height: 60px;
}
.doctor__dashboard h4{
    margin-left:30px;
    color: white;
}
.doctor__dashboard p{
    font-size: 24px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}
.doctor__sidebar{
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 20px;
}
.doctorhome__sidebar{
    display: flex;
    flex-direction: row;
}
.appointment__bar{
    height: 50px;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
    align-items: initial;
    margin-left: 0px;
    
}
.today__app_title, .pending__app_title, .total__app_title{
    cursor: pointer;
    margin-right: 70px;
}

.doctorcard__holder{
    margin-top: 25px;
}
.doctorhome__container{
    display: flex;
    flex-direction: row;
    
}
.app__activate{
    margin-top: 40px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.checkbox{
    margin-top: 40px;
}
.app-perhour{
    align-content: stretch;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 0px;
    display: flexbox;
        
}
.app-perhour input {
    text-decoration-color: black;
    width: 100%;
    height: 37px;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0px 0px 25px 0px #fff;
  } 
  .app__activate input[type=submit] {
    background-color: rgba(4, 101, 212, 0.603);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    max-width: max-content;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22px;
  }  
.each__appointment{
    display: flex;
    flex-direction: column;
}
.doctorpage__holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
}
.appt__details{
    background: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.appt__headlines{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: flex-start;
    width: 100%;
}
.doctorhomepage{
    min-width: 100%;
}
.btn__upcoming{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: lightblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.btn__today{
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: lightgreen;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}