.searchdoc__dashboard{
    margin-top: 0px;
    background: #00A1C9;
    height: 60px;
}
.searchdoc__dashboard h4{
    margin-left:30px;
    color: white;
}
.searchdoc__dashboard p{
    font-size: 24px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}
.searchdoc__container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.searchdoc__sidebar{
    margin-top: 30px;
    margin-left: 10px;
}
.searchdoc__card__holder{
    margin-top: 0;
    margin-left: 30px;
}