.card_main{
    background-color: gainsboro;
    height: max-content;
    min-width: max-content;
    padding-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
}
.card__wrapper{
    display: flex;
    max-width: 700px;
    flex-direction: row;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.details__wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.card__image{
    margin-left: 5px;
    margin-top: 10px;
}
.card__image img{
    border-radius: 35px;
}
.card__details__wrapper{
    max-width: 200px;
    padding: 10px;
    margin-left: 10px;
}
.card__details{
    color: #16161D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}
.cardbook__details__wrapper{
    padding: 10px;
    margin-left: 10px;
}
.booking__btn{
    text-decoration: none;
    padding: 10px;
    background-color: skyblue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}