.dropdown-menu-1 {
  background: "cornsilk";
  border-radius: 20px;
  width: 100px;
  height: auto;
  position: absolute;
  top: 60px;
  list-style-type: none;
  text-align: start;
  z-index: 2;
  opacity: 0.85;

}

.dropdown-menu-1 li {
  background: cornsilk;
  cursor: pointer;
}

.dropdown-menu-1 li:hover {
  background: lightblue;
}

.dropdown-menu-1.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
